<div class="navbar navbar-default">
    <div class="container-fluid">
            <ul class="nav navbar-nav">
            <li [routerLink]="['/login']">Login</li>
            <li [routerLink]="['/register']">Register</li>
            <li [routerLink]="['/users']">Users</li>
            <li [routerLink]="['/users/create']">New User</li>
            <li [routerLink]="['/articles']">Articles</li>
            <li [routerLink]="['/articles/create']">New Article</li>
            <li [routerLink]="['/login']">Logout</li>
        </ul>
        
    </div>
</div>
